.App {
  text-align: center;
}
body {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  border-radius: 20px;
  margin: 30px;
  width: 250px;
  height: 500px;
  display: inline-block;
  background-color: rgb(228, 241, 253);
  text-align: center;
}
button {
  border: none;
}
.image {
  border-radius: 20px;
  width: 100%;
}
.content:hover {
  box-shadow: 0 0 15px black;
  cursor: pointer;
}

