body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: aliceblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .content {
  margin: 30px;
  width: 250px;
  height: 460px;
  display: inline-block;
  background-color: rgb(228, 241, 253);
  text-align: center;
}
.image {
  width: 100%;
}
.content:hover {
  box-shadow: 0 0 15px black;
  cursor: pointer;
} */
